{% extends 'base.html' %}
{% block content %}
<h1>{{ post.title }}</h1>
<h3>By {{ post.author }}</h3>
<br/>
<p>
   {{ post.body }}
</p>
<div id="EDbuttons">
{% if user.is_authenticated %}
    {% if user.id == post.author.id %}
        <a href="{% url 'edit_post' post.pk %}">Edit</a>
        <a href="{% url 'delete_post' post.pk %}">Delete</a>
    {% endif %}
{% endif %}
</div>
<br/>
<!--XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX-->
<h1>Comments</h1>
<div id="debate_comments">
{% if not post.comments.all %}
    No comments <a href="#">Add Comment</a>
{% else %}
    {% for comment in post.comments.all %}
        {{ comment.name }} - {{ comment.date_added }}
        <br/>
        {{ comment.body }}
    {% endfor %}
{% endif %}
{% endblock %}
</div>