{% extends 'base.html' %}
{% block content %}
<h1>Categories</h1>
{{ cat }}
{% for post in category_posts %}
<ul>
    <li><a href="{% url 'article_details' post.pk %}">{{ post.title }}</a>
        {{ post.author }}
        {{ post.body }}
        {% if user.is_authenticated %}
            <a href="{% url 'edit_post' post.pk %}">Edit</a>
            <a href="{% url 'delete_post' post.pk %}">Delete</a>
        {% endif %}
        {{ post.body|slice:":20" }}...
    </li>
</ul>
{% endfor %}
{% endblock %}