{% extends 'base.html' %}
{% block content %}
<h1>philosophy blog</h1>
Category: {{ category.category_id }}
<ul style="list-style-type:square" id="blog_list">
{% for post in object_list %}
    {% if post.category == 'Philosophy' %}
    </br>
    <li id="list_id"><a href="{% url 'article_details' post.pk %}">{{ post.title }}</a>
        {{ post.author }}
        {{ post.body }}
        {% if user.is_authenticated %}
            {% if user.id == post.author.id %}
                <a href="{% url 'edit_post' post.pk %}">Edit</a>
                <a href="{% url 'delete_post' post.pk %}">Delete</a>
            {% endif %}
        {% endif %}
        {{ post.body|slice:":20" }}...
    </li>
    {% endif %}
{% endfor %}
</ul>
{% endblock %}